In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv("imdb_top_1000.csv")

In [48]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [49]:
df.drop(['Poster_Link', 'Runtime','Certificate', 'Overview', 'Released_Year','No_of_Votes'],axis=1,inplace=True)

In [50]:
df.dtypes

Series_Title     object
Genre            object
IMDB_Rating     float64
Meta_score      float64
Director         object
Star1            object
Star2            object
Star3            object
Star4            object
Gross            object
dtype: object

In [51]:
df.isna().sum()

Series_Title      0
Genre             0
IMDB_Rating       0
Meta_score      157
Director          0
Star1             0
Star2             0
Star3             0
Star4             0
Gross           169
dtype: int64

In [52]:
def fill_na_with_imdb(row):
    if pd.isna(row['Meta_score']):
        return row['IMDB_Rating'] * 10
    else:
        return row['Meta_score']

df['Meta_score'] = df.apply(fill_na_with_imdb, axis=1)

In [53]:
df['Gross'].fillna(0)
df['Gross'] = df['Gross'].str.replace(',', '')
df['Gross'] = df['Gross'].astype(float)
gross_mean = df['Gross'].mean()
df['Gross'] = df['Gross'].fillna(gross_mean)
df['Gross'].astype(int)

0       28341469
1      134966411
2      534858444
3       57300000
4        4360000
         ...
995     68034750
996     68034750
997     30500000
998     68034750
999     68034750
Name: Gross, Length: 1000, dtype: int32

In [54]:
df.isna().sum()

Series_Title    0
Genre           0
IMDB_Rating     0
Meta_score      0
Director        0
Star1           0
Star2           0
Star3           0
Star4           0
Gross           0
dtype: int64

In [55]:
df.head()

,Series_Title,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,Gross
0,The Shawshank Redemption,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,28341469.0
1,The Godfather,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,134966411.0
2,The Dark Knight,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,534858444.0
3,The Godfather: Part II,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,57300000.0
4,12 Angry Men,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,4360000.0

In [56]:
df["Act_Drct"] = df['Star1'].astype(str) + ", " + df['Star2'].astype(str)+ ', ' + df["Star3"].astype(str)+ ', ' + df["Star4"].astype(str) + ', ' + df['Director'].astype(str)
df.drop(['Star1','Star2','Star3','Star4','Director'], axis=1, inplace=True)
df.head()

,Series_Title,Genre,IMDB_Rating,Meta_score,Gross,Act_Drct
0,The Shawshank Redemption,Drama,9.3,80.0,28341469.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi..."
1,The Godfather,"Crime, Drama",9.2,100.0,134966411.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke..."
2,The Dark Knight,"Action, Crime, Drama",9.0,84.0,534858444.0,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,The Godfather: Part II,"Crime, Drama",9.0,90.0,57300000.0,"Al Pacino, Robert De Niro, Robert Duvall, Dian..."
4,12 Angry Men,"Crime, Drama",9.0,96.0,4360000.0,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ..."

In [57]:
genres = df['Genre'].str.get_dummies(', ')
df = pd.concat([df, genres], axis=1)
df.head()

,Series_Title,Genre,IMDB_Rating,Meta_score,Gross,Act_Drct,Action,Adventure,Animation,Biography,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,The Shawshank Redemption,Drama,9.3,80.0,28341469.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,"Crime, Drama",9.2,100.0,134966411.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,"Action, Crime, Drama",9.0,84.0,534858444.0,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,"Crime, Drama",9.0,90.0,57300000.0,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,"Crime, Drama",9.0,96.0,4360000.0,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
Act_Drct = df['Act_Drct'].str.get_dummies(', ')
df = pd.concat([df, Act_Drct], axis=1)
df.drop(['Genre', 'Act_Drct'],axis=1, inplace=True)
df.head()

,Series_Title,IMDB_Rating,Meta_score,Gross,Action,Adventure,Animation,Biography,Comedy,Crime,...,Zooey Deschanel,Zoya Akhtar,Zoë Kravitz,Álvaro Guerrero,Çagan Irmak,Çetin Tekindor,Émile Vallée,Éric Toledano,Ömer Faruk Sorak,Özge Özberk
0,The Shawshank Redemption,9.3,80.0,28341469.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,9.2,100.0,134966411.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,9.0,84.0,534858444.0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,9.0,90.0,57300000.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,9.0,96.0,4360000.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [59]:
sample_user_fav = pd.DataFrame() 
sample_user_fav = df[df['Series_Title'].isin(['Inception','Interstellar','Whiplash','Coraline','Up','Soul','Shutter Island','Se7en','Fight Club','The Shawshank Redemption','The Dark Knight'])]
sample_user_fav

,Series_Title,IMDB_Rating,Meta_score,Gross,Action,Adventure,Animation,Biography,Comedy,Crime,...,Zooey Deschanel,Zoya Akhtar,Zoë Kravitz,Álvaro Guerrero,Çagan Irmak,Çetin Tekindor,Émile Vallée,Éric Toledano,Ömer Faruk Sorak,Özge Özberk
0,The Shawshank Redemption,9.3,80.0,2.834147e+07,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,9.0,84.0,5.348584e+08,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,Inception,8.8,74.0,2.925762e+08,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Fight Club,8.8,66.0,3.703010e+07,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Interstellar,8.6,74.0,1.880200e+08,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Se7en,8.6,65.0,1.001256e+08,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
34,Whiplash,8.5,88.0,1.309200e+07,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,Shutter Island,8.2,63.0,1.280129e+08,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,Up,8.2,88.0,2.930042e+08,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
205,Soul,8.1,83.0,6.803475e+07,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
783,Coraline,7.7,80.0,7.528623e+07,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
sample_user_fav['Rating'] = [8.7,8.9,10,9.3,9.5,9.4,8.1,9,7.9,8.7,9]
print('sample user fav movies and ratings:\n\n',sample_user_fav[['Series_Title','Rating']])

sample user fav movies and ratings:

                  Series_Title  Rating
0    The Shawshank Redemption     8.7
2             The Dark Knight     8.9
8                   Inception    10.0
9                  Fight Club     9.3
21               Interstellar     9.5
27                      Se7en     9.4
34                   Whiplash     8.1
145            Shutter Island     9.0
146                        Up     7.9
205                      Soul     8.7
783                  Coraline     9.0

C:\Users\SAM-Tech\AppData\Local\Temp\ipykernel_15032\2199531660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_user_fav['Rating'] = [8.7,8.9,10,9.3,9.5,9.4,8.1,9,7.9,8.7,9]

In [61]:
user_rates = sample_user_fav.drop(['IMDB_Rating','Meta_score','Gross','Series_Title'],axis=1)
user_rates.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Zoya Akhtar,Zoë Kravitz,Álvaro Guerrero,Çagan Irmak,Çetin Tekindor,Émile Vallée,Éric Toledano,Ömer Faruk Sorak,Özge Özberk,Rating
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,8.7
2,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,8.9
8,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10.0
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,9.3
21,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,9.5

In [62]:
user_profile = user_rates.transpose().dot(sample_user_fav['Rating'])
user_profile

Action               18.90
Adventure            36.10
Animation            25.60
Biography             0.00
Comedy               16.60
                     ...
Émile Vallée          0.00
Éric Toledano         0.00
Ömer Faruk Sorak      0.00
Özge Özberk           0.00
Rating              885.71
Length: 3224, dtype: float64

In [63]:
ndf = df.drop(['IMDB_Rating','Meta_score','Gross','Series_Title'],axis=1)
ndf.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Zooey Deschanel,Zoya Akhtar,Zoë Kravitz,Álvaro Guerrero,Çagan Irmak,Çetin Tekindor,Émile Vallée,Éric Toledano,Ömer Faruk Sorak,Özge Özberk
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
recommendationTable = ((ndf*user_profile).sum(axis=1))/(user_profile.sum())
recommendationTable.head()

0    0.071455
1    0.050105
2    0.101258
3    0.050105
4    0.050105
dtype: float64

In [65]:
recommendationTable = recommendationTable.sort_values(ascending=False)
recommendationTable.head()

21    0.114093
27    0.107305
2     0.101258
8     0.093730
36    0.090707
dtype: float64

In [66]:
recommendation = df.loc[ndf.index.isin(recommendationTable.head(100).keys())]

In [67]:
recommendation = recommendation[~recommendation['Series_Title'].isin(sample_user_fav['Series_Title'])]

In [74]:
recommendation.head(50)

,Poster,Title,Released_Year,Runtime,IMDB,Overview,Director,Actors
0,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,201 min,8.9,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen"
1,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,178 min,8.8,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom"
2,https://m.media-amazon.com/images/M/MV5BZGMxZT...,The Lord of the Rings: The Two Towers,2002,179 min,8.7,While Frodo and Sam edge closer to Mordor with...,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen"
3,https://m.media-amazon.com/images/M/MV5BYjBmYT...,Seppuku,1962,133 min,8.6,When a ronin requesting seppuku at a feudal lo...,Masaki Kobayashi,"Tatsuya Nakadai, Akira Ishihama, Shima Iwashita"
4,https://m.media-amazon.com/images/M/MV5BOWE4ZD...,Shichinin no samurai,1954,207 min,8.6,A poor village under attack by bandits recruit...,Akira Kurosawa,"Toshirô Mifune, Takashi Shimura, Keiko Tsushima"
5,https://m.media-amazon.com/images/M/MV5BMjA4ND...,The Prestige,2006,130 min,8.5,"After a tragic accident, two stage magicians e...",Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johansson"
6,https://m.media-amazon.com/images/M/MV5BMTI1MT...,The Departed,2006,151 min,8.5,An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson"
7,https://m.media-amazon.com/images/M/MV5BMDliMm...,Gladiator,2000,155 min,8.5,A former Roman General sets out to exact venge...,Ridley Scott,"Russell Crowe, Joaquin Phoenix, Connie Nielsen"
8,https://m.media-amazon.com/images/M/MV5BYTYxNG...,The Lion King,1994,88 min,8.5,Lion prince Simba and his father are targeted ...,Roger Allers,"Rob Minkoff, Matthew Broderick, Jeremy Irons"
9,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019,181 min,8.4,After the devastating events of Avengers: Infi...,Anthony Russo,"Joe Russo, Robert Downey Jr., Chris Evans"
10,https://m.media-amazon.com/images/M/MV5BMTk4OD...,The Dark Knight Rises,2012,164 min,8.4,Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway"
11,https://m.media-amazon.com/images/M/MV5BMTI3NT...,Oldeuboi,2003,101 min,8.4,After being kidnapped and imprisoned for fifte...,Chan-wook Park,"Choi Min-sik, Yoo Ji-Tae, Kang Hye-jeong"
12,https://m.media-amazon.com/images/M/MV5BOTJiND...,Inglourious Basterds,2009,153 min,8.3,"In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt, Diane Kruger, Eli Roth"
13,https://m.media-amazon.com/images/M/MV5BOGZhZD...,Das Boot,1981,149 min,8.3,The claustrophobic world of a WWII German U-bo...,Wolfgang Petersen,"Jürgen Prochnow, Herbert Grönemeyer, Klaus Wen..."
14,https://m.media-amazon.com/images/M/MV5BMTY3Mj...,A Clockwork Orange,1971,136 min,8.3,"In the future, a sadistic gang leader is impri...",Stanley Kubrick,"Malcolm McDowell, Patrick Magee, Michael Bates"
15,https://m.media-amazon.com/images/M/MV5BNWYyOW...,Queen,2013,146 min,8.2,A Delhi girl from a traditional family sets ou...,Vikas Bahl,"Kangana Ranaut, Rajkummar Rao, Lisa Haydon"
16,https://m.media-amazon.com/images/M/MV5BMjIxMj...,The Wolf of Wall Street,2013,180 min,8.2,"Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie"
17,https://m.media-amazon.com/images/M/MV5BOTI5OD...,V for Vendetta,2005,132 min,8.2,"In a future British tyranny, a shadowy freedom...",James McTeigue,"Hugo Weaving, Natalie Portman, Rupert Graves"
18,https://m.media-amazon.com/images/M/MV5BOTY4Yj...,Batman Begins,2005,140 min,8.2,"After training with his mentor, Batman begins ...",Christopher Nolan,"Christian Bale, Michael Caine, Ken Watanabe"
19,https://m.media-amazon.com/images/M/MV5BMDQ2Yz...,L.A. Confidential,1997,138 min,8.2,"As corruption grows in 1950s Los Angeles, thre...",Curtis Hanson,"Kevin Spacey, Russell Crowe, Guy Pearce"
20,https://m.media-amazon.com/images/M/MV5BZjEyOT...,The Gold Rush,1925,95 min,8.2,A prospector goes to the Klondike in search of...,Charles Chaplin,"Charles Chaplin, Mack Swain, Tom Murray"
21,https://m.media-amazon.com/images/M/MV5BMjA1NT...,Haider,2014,160 min,8.1,A young man returns to Kashmir after his fathe...,Vishal Bhardwaj,"Shahid Kapoor, Tabu, Shraddha Kapoor"
22,https://m.media-amazon.com/images/M/MV5BYzc5MT...,Logan,2017,137 min,8.1,"In a future where mutants are nearly extinct, ...",James Mangold,"Hugh Jackman, Patrick Stewart, Dafne Keen"
23,https://m.media-amazon.com/images/M/MV5BMTk0MD...,Gone Girl,2014,149 min,8.1,With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harris"
24,https://m.media-amazon.com/images/M/MV5BMTQ2MD...,Song of the Sea,2014,93 min,8.1,"Ben, a young Irish boy, and his little sister ...",Tomm Moore,"David Rawle, Brendan Gleeson, Lisa Hannigan"
25,https://m.media-amazon.com/images/M/MV5BOTcwMz...,A Wednesday,2008,104 min,8.1,A retiring police officer reminisces about the...,Neeraj Pandey,"Anupam Kher, Naseeruddin Shah, Jimmy Sheirgill"
26,https://m.media-amazon.com/images/M/MV5BMDgzYj...,Mary and Max,2009,92 min,8.1,A tale of friendship between two unlikely pen ...,Adam Elliot,"Toni Collette, Philip Seymour Hoffman, Eric Bana"
27,https://m.media-amazon.com/images/M/MV5BMTY5Mz...,Catch Me If You Can,2002,141 min,8.1,"Barely 21 yet, Frank is a skilled forger who h...",Steven Spielberg,"Leonardo DiCaprio, Tom Hanks, Christopher Walken"
28,https://m.media-amazon.com/images/M/MV5BZjJhMT...,Shin seiki Evangelion Gekijô-ban: Air/Magokoro...,1997,87 min,8.1,Concurrent theatrical ending of the TV series ...,Hideaki Anno,"Kazuya Tsurumaki, Megumi Ogata, Megumi Hayashi..."
29,https://m.media-amazon.com/images/M/MV5BZmY4Yj...,Solaris,1972,167 min,8.1,A psychologist is sent to a station orbiting a...,Andrei Tarkovsky,"Natalya Bondarchuk, Donatas Banionis, Jüri Järvet"
30,https://m.media-amazon.com/images/M/MV5BZDdkNz...,Le salaire de la peur,1953,131 min,8.1,"In a decrepit South American village, four men...",Henri-Georges Clouzot,"Yves Montand, Charles Vanel, Peter van Eyck"
31,https://m.media-amazon.com/images/M/MV5BZmI5NT...,White Heat,1949,114 min,8.1,A psychopathic criminal with a mother complex ...,Raoul Walsh,"James Cagney, Virginia Mayo, Edmond O'Brien"
32,https://m.media-amazon.com/images/M/MV5BMzUzND...,La La Land,2016,128 min,8.0,"While navigating their careers in Los Angeles,...",Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt"
33,https://m.media-amazon.com/images/M/MV5BMTc2MT...,The Martian,2015,144 min,8.0,An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig"
34,https://m.media-amazon.com/images/M/MV5BNThmMW...,Kaguyahime no monogatari,2013,137 min,8.0,Found inside a shining stalk of bamboo by an o...,Isao Takahata,"Chloë Grace Moretz, James Caan, Mary Steenburgen"
35,https://m.media-amazon.com/images/M/MV5BNzA1Nj...,Blade Runner 2049,2017,164 min,8.0,Young Blade Runner K's discovery of a long-bur...,Denis Villeneuve,"Harrison Ford, Ryan Gosling, Ana de Armas"
36,https://m.media-amazon.com/images/M/MV5BMDE5OW...,The Revenant,2015,156 min,8.0,A frontiersman on a fur trading expedition in ...,Alejandro G. Iñárritu,"Leonardo DiCaprio, Tom Hardy, Will Poulter"
37,https://m.media-amazon.com/images/M/MV5BMjEzMz...,Tropa de Elite 2: O Inimigo Agora é Outro,2010,115 min,8.0,"After a prison riot, former-Captain Nascimento...",José Padilha,"Wagner Moura, Irandhir Santos, André Ramiro"
38,https://m.media-amazon.com/images/M/MV5BYmI1OD...,Tropa de Elite,2007,115 min,8.0,"In 1997 Rio de Janeiro, Captain Nascimento has...",José Padilha,"Wagner Moura, André Ramiro, Caio Junqueira"
39,https://m.media-amazon.com/images/M/MV5BZDMxOG...,Blood Diamond,2006,143 min,8.0,"A fisherman, a smuggler, and a syndicate of bu...",Edward Zwick,"Leonardo DiCaprio, Djimon Hounsou, Jennifer Co..."
40,https://m.media-amazon.com/images/M/MV5BZjZlZD...,Donnie Darko,2001,113 min,8.0,"After narrowly escaping a bizarre accident, a ...",Richard Kelly,"Jake Gyllenhaal, Jena Malone, Mary McDonnell"
41,https://m.media-amazon.com/images/M/MV5BNTg0Nm...,Tenkû no shiro Rapyuta,1986,125 min,8.0,A young boy and a girl with a magic crystal mu...,Hayao Miyazaki,"Mayumi Tanaka, Keiko Yokozawa, Kotoe Hatsui"
42,https://m.media-amazon.com/images/M/MV5BMjI1MD...,Hunt for the Wilderpeople,2016,101 min,7.9,A national manhunt is ordered for a rebellious...,Taika Waititi,"Sam Neill, Julian Dennison, Rima Te Wiata"
43,https://m.media-amazon.com/images/M/MV5BMTgzOD...,Moon,2009,97 min,7.9,Astronaut Sam Bell has a quintessentially pers...,Duncan Jones,"Sam Rockwell, Kevin Spacey, Dominique McElligott"
44,https://m.media-amazon.com/images/M/MV5BMjE0Nz...,Letters from Iwo Jima,2006,141 min,7.9,The story of the battle of Iwo Jima between th...,Clint Eastwood,"Ken Watanabe, Kazunari Ninomiya, Tsuyoshi Ihara"
45,https://m.media-amazon.com/images/M/MV5BMTIzND...,Mystic River,2003,138 min,7.9,The lives of three men who were childhood frie...,Clint Eastwood,"Sean Penn, Tim Robbins, Kevin Bacon"
46,https://m.media-amazon.com/images/M/MV5BMTQ5NT...,Children of Men,2006,109 min,7.9,"In 2027, in a chaotic world in which women hav...",Alfonso Cuarón,"Julianne Moore, Clive Owen, Chiwetel Ejiofor"
47,https://m.media-amazon.com/images/M/MV5BMzY1Zj...,Almost Famous,2000,122 min,7.9,A high-school boy is given the chance to write...,Cameron Crowe,"Billy Crudup, Patrick Fugit, Kate Hudson"
48,https://m.media-amazon.com/images/M/MV5BN2YyZj...,Dunkirk,2017,106 min,7.8,"Allied soldiers from Belgium, the British Empi...",Christopher Nolan,"Fionn Whitehead, Barry Keoghan, Mark Rylance"
49,https://m.media-amazon.com/images/M/MV5BY2YxNj...,Udta Punjab,2016,148 min,7.8,A story that revolves around drug abuse in the...,Abhishek Chaubey,"Shahid Kapoor, Alia Bhatt, Kareena Kapoor"

In [69]:
df_raw = pd.read_csv('imdb_top_1000.csv')

In [70]:
recommendation = df_raw[df_raw['Series_Title'].isin(recommendation['Series_Title'])]

In [71]:
recommendation.drop(['Certificate','Genre','Star4','Meta_score','No_of_Votes','Gross'],axis=1,inplace=True)

C:\Users\SAM-Tech\AppData\Local\Temp\ipykernel_15032\712782221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recommendation.drop(['Certificate','Genre','Star4','Meta_score','No_of_Votes','Gross'],axis=1,inplace=True)

In [72]:
recommendation["Actors"] = recommendation['Star1'].astype(str) + ", " + recommendation['Star2'].astype(str)+ ', ' + recommendation["Star3"].astype(str)
recommendation.drop(['Star1','Star2','Star3'],axis=1, inplace=True)
recommendation.rename(columns = {'Poster_Link':'Poster','Series_Title':'Title','IMDB_Rating':'IMDB'}, inplace = True)

C:\Users\SAM-Tech\AppData\Local\Temp\ipykernel_15032\3991424290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recommendation["Actors"] = recommendation['Star1'].astype(str) + ", " + recommendation['Star2'].astype(str)+ ', ' + recommendation["Star3"].astype(str)
C:\Users\SAM-Tech\AppData\Local\Temp\ipykernel_15032\3991424290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recommendation.drop(['Star1','Star2','Star3'],axis=1, inplace=True)
C:\Users\SAM-Tech\AppData\Local\Temp\ipykernel_15032\3991424290.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recommendation.rename(columns = {'Poster_Link':'Poster','Series_Title':'Title','IMDB_Rating':'IMDB'}, inplace = True)

In [73]:
recommendation.reset_index(inplace=True,drop=True)
print('movies recommended for sample user:\n\n', recommendation[['Title','IMDB']].head(15))

movies recommended for sample user:

                                                 Title  IMDB
0       The Lord of the Rings: The Return of the King   8.9
1   The Lord of the Rings: The Fellowship of the Ring   8.8
2               The Lord of the Rings: The Two Towers   8.7
3                                             Seppuku   8.6
4                                Shichinin no samurai   8.6
5                                        The Prestige   8.5
6                                        The Departed   8.5
7                                           Gladiator   8.5
8                                       The Lion King   8.5
9                                   Avengers: Endgame   8.4
10                              The Dark Knight Rises   8.4
11                                           Oldeuboi   8.4
12                               Inglourious Basterds   8.3
13                                           Das Boot   8.3
14                                 A Clockwork Orange   8.3